/*common*/
html {
    font-size: 16px;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    zoom:1;
}

body {
    max-width: 1920px;
    padding: 0;
    margin: 0 auto;
    border: none;
    outline: 0;
    font-family: "Segoe UI","微软雅黑","Microsoft YaHei","DroidSansFallback","华文细黑",HelveticaNeue-Medium,Arial;
    cursor: default;
    zoom: 1;
    -webkit-tap-highlight-color: transparent; /*iPhone去除点击时的阴影*/
    -webkit-appearance: none;
    opacity: 0;
}
ol, ul {
    list-style:none;
}
input, select, textarea {
    -ms-user-select:text;
    ime-mode:active;
    zoom:1;
        -webkit-appearance:none;
}
    input[hidden] {
        position:absolute;
        top:-100%;
        left:-100%;
    }
a {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    font-family: inherit;
    text-decoration: none;
}

    a:link,
    a:visited {
        color: inherit;
    }

.title, dt {
    font-family: "Segoe UI","Microsoft YaHei Light","微软雅黑 Light","黑体","Segoe WP SemiLight","DroidSansFallback","华文细黑",HelveticaNeue-Thin;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-select {
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent; /*iPhone去除点击时的阴影*/
    -webkit-appearance: none; /*input,textarea预设外观*/
    user-select: none;
}

.error {
    font-size: .8em;
    font-family: inherit;
    color: #ff0000;
    vertical-align: top;
    padding-left: .5em;
}
.text-indent {
    text-indent: 2em;
}
.text-center {
    text-align:center;
}
.hide {
    display: none;
}

.btn {
    background-color: transparent;
    border-radius: .2em;
    outline: 0;
    cursor: pointer;
    opacity: .6;
    font-family: inherit;
    white-space: nowrap;
}

    .btn:hover,
    .btn:active {
        opacity: 1;
    }

    .btn[disabled] {
        color: #CCC;
        opacity: 1;
    }
/*bg*/
.bg-div {
    display: none;
}
/*header*/
.header {
    position: fixed;
    display: block;
    max-width: 100%;
    width: 100%;
    top: 0;
    background: #3EC1FF;
    border-bottom: 1px solid rgba(255,255,255,.5);
    z-index: 1000;
}

.header-titles {
    margin: 0;
    padding: 0;
    font-size: 0;
}

    .header-titles > li {
        display: none;
        margin: 0;
        padding: .5em .5em 0;
        border: none;
        line-height: 1.5em;
        font-size: 2rem;
        font-weight: 300;
        color: #FFF;
        outline: 0;
        text-overflow: clip;
    }

    .header-titles > .func-btns {
        display: block;
        float: right;
    }

    .header-titles > .main-title {
        display: inline-block;
        font-size: 1.8rem;
        max-width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .header-titles > .hide-title {
        width: 0;
    }
/*content start*/
/*aside*/
#content {
    position:relative;
    margin-top: 3.5rem;
    max-width: 100%;
    overflow-x: hidden;
    left:0;
}

.aside {
    position: fixed;
    left: -100%;
    max-width: 80%;
    width: 80%;
    height: 85%;
    background-color: #3EC1FF;
    color: #FFF;
    text-shadow: 0 0 4px #AAAAAA;
    transition: left linear .2s;
    box-shadow: 10px 10px 50px #CCC;
}

    .aside.aside-show {
        display: block;
        left: 0;
        z-index: 10;
        overflow: auto;
    }

.aside-menu {
    margin: 0;
    padding: .5em 1.5em;
    font-size: 1rem;
}

    .aside-menu > li {
        padding: 1em 0;
    }

        .aside-menu > li + li {
            border-top: 1px dotted rgba(255,255,255,.5);
        }

.no-topic-title {
    text-align: center;
    opacity: .9;
}

.btn-add {
    display: block;
    margin-top: -.2em;
    height: 1.5em;
    width: 1.6em;
    padding: 0 0 .18em 0;
    background-color: transparent;
    border: 0.1em dashed #FFF;
    border-radius: .2em;
    outline: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1em;
    color: #FFF;
    cursor: pointer;
    opacity: .6;
}

    .btn-add:hover,
    .btn-add:active {
        opacity: 1;
    }

.writer-info {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

    .writer-info > dt {
        font-size: 1.15em;
    }

    .writer-info > dd {
        margin: 0;
        line-height: 1.5em;
        font-size: .85em;
        text-indent: 2em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.info-name {
    display: none;
}

.article {
    display: block;
    max-width: 100%;
    transition: display linear .2s;
}

    .article.aside-show {
        /*display: none;*/
    }

#defaultPage,
#addPage.addPage-show,
#dialogPage.dialogPage-show {
    display: block;
}

    #addPage,
    #dialogPage,
    #defaultPage.addPage-show,
    #dialogPage.addPage-show,
    #defaultPage.dialogPage-show,
    #addPage.dialogPage-show {
        display: none;
    }


/*defaultPage*/
.default-page-title {
    padding: .3em 0;
    margin: 0;
    font-size: 5rem;
    text-align: center;
}

.default-page-sub-title {
    margin: 0;
    padding: .3em;
    line-height: 1em;
    text-align: center;
    font-size: 1rem;
}
/*addPage*/

.writer-info-input-title,
.content-area-title {
    padding: .5em 1em;
    margin: 0;
    font-weight: normal;
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
}

.writer-info-input-list,
.content-area-list {
    margin: 0;
    padding: .5em 1.5em;
    font-size: 1rem;
}
.writer-info-input-list>li,
.content-area-list>li {
    display:block;
}
.writer-info-input-label,
.content-area-label {
    padding: .25em .5em;
    display:block;
}

.writer-info-inputer,
.content-area-inputer {
    display: block;
    min-width: 85%;
    width: 10rem;
    max-width: 85%;
    background-color: transparent;
    overflow: hidden;
    margin: .25em 0;
    padding: .25em 1.5em;
    font-family: inherit;
    font-size: .85rem;
    border: none;
    outline: 0;
    resize:none;
}

.writer-info-input-hr,
.content-area-hr {
    font-size: 1rem;
    margin: .8em;
    outline: 0;
    border: 1px solid rgba(255,255,255,.05);
    box-shadow: 0px 1px 0px rgba(242, 242, 242, 0.5);
}

.writer-info-input-btn-group,
.content-area-btn-group {
    font-size: 1rem;
    padding: 1em 2em 0;
    text-align: right;
}

.writer-info-input-btn,
.content-area-img-btn,
.content-area-btn {
    padding: .25em 1em;
    margin-bottom: 2em;
    border: 1px solid;
    font-size: 1rem;
    color: #3EC1FF;
}
/*dialog-page*/
.dialog-header {
    font-size: 1rem;
    text-shadow: none;
    padding: .5em 0 .5em 1em;
}
#dialogListContainer {
    overflow:auto;
}
.dialog-list {
    margin: 0;
    padding: 0 1em;
    font-size: 1rem;
}
    .dialog-list > li + li {
        border-top: 1px solid rgba(242, 242, 242, 0.5);
    }
.dialog-tips {
    text-shadow:none;
}
.dialog-container {
    font-size:.875rem;
}
    .dialog-container > p {
        margin:0;
        line-height:2em;
    }
    .dialog-container-img {
        min-width:10px;
        max-width:90%;
        margin:1em auto;
    }
.dialog-content-attribute {
    text-align: right;
    font-size: .75rem;
}
.dialog-content-footer {
    text-align:right;
}
/*content end*/
footer {
    display: none;
}
/*default screen min-width=320px*/

/*screen min-width=480px for brandth phones*/
@media screen and (min-width:480px) {
    /*common*/
    html, body {
        font-size: 13px;
    }
    /*header*/
    .header-titles > .main-title {
        font-size: 2rem;
    }

    .btn-add {
        height: auto;
        width: auto;
        padding: .25em .4em;
        margin-top: .18em;
        border-width: .12em;
        border-radius: 10%;
        font-weight: 400;
        font-size: 1.2rem;
    }
    /*content*/
    #content {
        margin-top: 4rem;
    }

    .default-page-title {
        padding: .2em 0;
        font-size: 3rem;
    }

    .default-page-sub-title {
        font-size: 1.1rem;
    }

    .writer-info {
        font-size: .9rem;
    }

    .info-name {
        display: inline;
    }
    .writer-info-inputer,
    .content-area-inputer {
        font-size:1.21rem;
    }
    .writer-info-input-btn,
    .content-area-img-btn,
    .content-area-btn {
        font-size:1.3rem;
    }
    /*footer*/
    footer {
        display: block;
        min-width: 100px;
        margin: 1em 0;
        padding-top: 1em;
        border-top: 1px dotted #EEE;
        font-size: 1rem;
        text-align: left;
        background-color: transparent;
    }

    .footer-list {
        margin: 0;
        padding: 0;
    }

        .footer-list > li {
            display: inline-block;
            margin: .25em 0;
            padding: 0 1em;
        }

            .footer-list > li + li {
                border-left: 1px solid #000;
            }

    .watermark {
        display: none;
        position: fixed;
        bottom: .5em;
        right: 0;
        z-index: -1;
        padding: 0 0 0 .5em;
        margin: 0;
        opacity: .1;
        font-size: 6rem;
        text-align: right;
        white-space: nowrap;
    }
}
/*screen min-width=640px for pads*/
@media screen and (min-width:640px) {
    /*common*/
    html, body {
        font-size: 18px;
    }

    .btn-add {
        font-size: 1.2rem;
        margin-top: .3em;
    }
    .writer-info-inputer,
    .content-area-inputer {
        font-size: .85rem;
    }
    .writer-info-input-btn,
    .content-area-img-btn,
    .content-area-btn {
        font-size: 1rem;
    }
}
/*screen min-width=800px for PCs*/
@media screen and (min-width:800px) {
    /*common*/
    html {
        font-size: 16px;
        -ms-touch-action: none;
    }
    body {
        overflow:hidden;
    }
    /*bg*/
    .bg-div {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -2;
        background-position: top center;
        background-repeat: repeat;
        background-size: cover;
        background-size: auto 100%;
        height: 100%;
        width: 100%;
        max-height: 100%;
        max-width: 100%;
        overflow: hidden;
        -webkit-filter: blur(1px); /* Chrome, Opera */
        -moz-filter: blur(1px);
        -ms-filter: 'alpha(opacity=50)';
        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=1, MakeShadow=false);
        /* filter:url('blur.svg');*/
        filter: blur(1px);
        /*    background-image:url('blur.svg');*/
        text-align: center;
        transition: -ms-filter linear .4s;
        -webkit-transition: -webkit-filter linear .4s;
        -moz-transition: -moz-filter linear .4s;
        opacity:0;
    }

        .bg-div.deeper {
            -webkit-filter: blur(6px); /* Chrome, Opera */
            -moz-filter: blur(6px);
            -ms-filter: 'alpha(opacity=50)';
            filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=6, MakeShadow=false);
            filter: blur(6px);
        }

    .opacity.deeper {
        opacity: .3;
    }
    /*header*/
    .header {
        border-bottom: none;
        position: static;
    }

    .header-titles > li {
        display: inline-block;
        padding-top: .4em;
        font-size: 1.6rem;
        vertical-align: middle;
    }

    .header-titles > .main-title {
        font-size: 1.4rem;
    }

    .btn-add {
        font-size: 1rem;
        margin-top: .1em;
    }
    /*content*/
    #content {
        margin-top: 0;
        overflow: hidden;
        background-color: rgba(255,255,255,.4);
        font-size: 0;
        max-height: 100%;
    }

    .aside,
    .article {
        display: inline-block;
        height: 100%;
        max-height: 100%;
        overflow: auto;
        overflow-x: hidden;
        -ms-touch-action: pan-y;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

        .aside.aside-show,
        .article.aside-show {
            display: inline-block;
        }

    .aside {
        position: static;
        max-height: 100%;
        height: 100%;
        vertical-align: top;
        max-width: 250px;
        width: 250px;
        box-shadow: none;
        z-index: 1;
    }

    .aside-menu {
        padding: .5em;
    }

        .aside-menu > li {
            min-width: 240px;
        }

    .writer-info {
        font-size: 1rem;
    }

    .article {
        text-shadow: 0 0 1px #BABABA;
        position: relative;
    }

    #defaultPage {
        color: rgba(0,0,0,.7);
        left: 0;
    }

    #defaultPage,
    #addPage,
    #dialogPage {
        position: absolute;
        min-height: 100%;
        min-width: 100%;
        height: 100%;
        width: 100%;
        max-height: 100%;
        max-width: 100%;
        top: 0;
        transition: left linear .5s;
        -webkit-transition:left linear .3s;
    }

        #defaultPage,
        #addPage.addPage-show,
        #dialogPage.dialogPage-show {
            left: 0;
            display:block;
        }

            #defaultPage.addPage-show,
            #addPage.dialogPage-show {
                display: block;
                left: -100%;
            }
            #defaultPage.dialogPage-show {
                display: block;
                left: -200%;
            }

        #addPage{
            display: block;
            left: 100%;
        }

        #dialogPage,
        #dialogPage.addPage-show {
            display: block;
            left: 200%;
        }


    .default-page-title {
        padding: .8em 0;
        font-size: 5rem;
    }

    .default-page-sub-title {
        line-height: 1.25em;
        font-size: 1.6rem;
    }
    /*dialogPage*/
    #dialogPage {
        overflow:hidden;
    }
    .dialog-page-content {
        max-height:100%;
        max-width:100%;
        position:relative;
        overflow:hidden;
    }
    .content-area {
        background-color:rgba(255,255,255,.8);
    }
    .content-area-list {
       padding-bottom:0;
    }
    .content-area-label,
    .content-area-inputer {
        display:inline-block;
        min-width:0;
        max-width:initial;
        margin-top:0;
        font-size:1rem;
        vertical-align:top;
        padding-bottom:0;
        text-shadow:none;
    }
    .content-area-hr,
    .content-area-title,
    .content-area-content-label {
        display:none;
    }
    .content-area-img-btn,
    .content-area-btn {
        margin-bottom:0;
    }
    .content-area-btn-group {
        padding:.3em;
    }
    .content-area-textarea {
        min-width:100%;
        width:100%;
        max-width:100%;
        padding:.25em 0;
        height:3.5rem;
    }
    .content-area-content-item {
        padding-top:0;
        padding-bottom:0;
    }
    .dialog-list>li+li{
        border-top:none;
    }
    .dialog-ask, .dialog-reply {
        padding: .75em 0 1.5em;
    }
    .dialog-reply>.dialog-container {
        margin:0 0 0 auto;
    }
    .dialog-container {
        width: 500px;
        max-width:50%;
        background-color: rgba(0,0,0,.2);
        color: #FFF;
        padding: .25em 1em;
        text-align:left;
    }
    .dialog-container > p {
        line-height:1.5em;
    }
    /*footer*/
    footer {
        margin: 0;
        padding-top: 0;
        border-top: none;
        background-color: rgba(255,255,255,.4);
        -ms-touch-action: none;
    }

    .watermark {
        display: block;
        bottom: .4em;
        color: #FFF;
        opacity: .6;
        text-shadow: -5px -2px 1px #000;
    }
}
