/*common*/
html {
    font-size:16px;
}
body {
    max-width: 1366px;
    padding: 0;
    margin: 0 auto;
    border: none;
    outline: 0;
    font-family: "微软雅黑","Microsoft YaHei","Segoe UI","DroidSansFallback","华文细黑",HelveticaNeue-Medium,Arial;
    cursor: default;
    zoom: 1;
    -webkit-tap-highlight-color: transparent; /*iPhone去除点击时的阴影*/
}

a {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    font-family:inherit;
}
    a:link,
    a:visited {
        color: inherit;
        text-decoration: none;
    }

.title, dt {
    font-family: "Microsoft YaHei Light","微软雅黑 Light","黑体","Segoe WP SemiLight","DroidSansFallback","华文细黑",HelveticaNeue-Thin;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-select {
    user-select:none;
    -ms-user-select:none;
    -webkit-user-select:none;
    -ms-touch-action:none;
    -webkit-tap-highlight-color:transparent;/*iPhone去除点击时的阴影*/
    -webkit-appearance:none;/*input,textarea预设外观*/
}
/*header*/
header {
    background:#3EC1FF;
    display:none;
    border-bottom:1px solid rgba(255,255,255,.5);
}
.header-titles {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size:0;
}
    .header-titles > li {
        display: none;
        margin: 0;
        padding: .5em .5em 0;
        border: none;
        line-height: 1.5em;
        font-size: 2rem;
        font-weight: 300;
        color: #FFF;
        outline: 0;
        text-overflow:clip;
    }
    .header-titles > .main-title {
        display: inline-block;
        font-size: 1.8rem;
    }
.header-titles > .hide-title {
    width: 0;
}
/*content start*/
/*aside*/
.aside {
    display:block;
    background-color:#3EC1FF;
    color:#FFF;
}
.aside-menu {
    margin:0;
    padding:.5em 1.5em;
    list-style:none;
}
    .aside-menu > li {
        padding: 1em 0;
    }
        .aside-menu > li + li {
            border-top: 1px dotted rgba(255,255,255,.5);
        }
.btn-add {
    display: block;
    padding: .25em 0;
    width: 100%;
    background-color: transparent;
    border: 0.2em dashed #FFF;
    border-radius: .2em;
    outline: 0;
    line-height: 1.5em;
    font-size: 1rem;
    color: #FFF;
    opacity:.6;
    cursor:pointer;
}
    .btn-add:hover,
    .btn-add:active {
        opacity:1;
    }
.writer-info {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
    .writer-info > dt {
        font-size:1.15em;
    }
    .writer-info > dd {
        margin: 0;
        line-height: 1.5em;
        font-size: .85em;
        text-indent: 2em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
.info-name {
    display: none;
}
article {
    display:block;
}
/*content end*/

/*footer*/
footer {
    border-top: 1px dotted #EEE;
    min-width: 100px;
    margin:1em 0;
    font-size:1rem;
    text-align:left;
    background-color:transparent;
}
.footer-list {
    margin:0;
    padding:0;
}
    .footer-list > li {
        display: block;
        margin: .25em 0;
        padding:0 1em;
    }
.watermark {
    position:fixed;
    bottom:1em;
    right:0;
    z-index: -1;
    padding:0 0 0 .5em;
    margin:0;
    opacity: .1;
    font-size:3rem;
    text-align:right;
    white-space:nowrap;
}
/*default screen min-width=320px*/

/*screen min-width=480px for brandth phones*/
@media screen and (min-width:480px) {
    /*common*/
    html,body {
        font-size: 13px;
    }
    /*header*/
    /*.header-titles > li {    */
    /*    font-size: 1.4rem;   */
    /*}                        */
    .header-titles > .main-title {
        font-size:2.5rem;
    }
    /*content*/
    .btn-add {
        font-size:1.05rem;
    }
    .writer-info {
        font-size:.9rem;
    }
    .info-name {
        display:inline;
    }
    /*footer*/
    footer {
        padding-top: 1em;
    }
    .footer-list > li {
        display:inline-block;
    }
        .footer-list > li + li {
            border-left:1px solid #000;
        }
    .watermark {
        font-size: 6rem;
        bottom:.5em;
    }
}
/*screen min-width=640px for pads*/
@media screen and (min-width:640px) {
    /*common*/
    html,body {
        font-size: 18px;
    }
}
/*screen min-width=800px for PCs*/
@media screen and (min-width:800px) {
    /*common*/
    html {
        font-size: 16px;
    }
    body {
        background-position: bottom right;
        background-repeat: repeat-x;
        background-size: contain;
    }
    /*header*/
    header {
        border-bottom:none;
    }
    .header-titles > li {
        display: inline-block;
        padding-top:.4em;
        font-size: 1.6rem;
        vertical-align: middle;
    }
    .header-titles > .main-title {
        font-size:1.4rem;
    }
    /*content*/
    .aside {
        display:inline-block;
        height:100%;
        max-width:250px;
        max-height:100%;
        overflow:auto;
        vertical-align:top;
    }
    .aside-menu {
        padding:.5em;
    }
    .btn-add,
    .writer-info {
        font-size: 1rem;
    }
   /* .info-name {           */
   /*     display: inline;   */
   /* }                      */
    article {
        display: inline-block;
        height: 100%;
        max-height: 100%;
        overflow: hidden auto;
        background-color: rgba(255,255,255,.4);
    }
    #defaultPage {
        width: 100%;
        height: 100%;
        color:rgba(0,0,0,.7);
    }
    .default-page-title {
        padding:.8em 0;
        margin:0;
        font-size:5rem;
        text-align:center;
    }
    .default-page-sub-title {
        margin: 0;
        padding: .3em;
        line-height:1.25em;
        text-align: center;
        font-size: 1.6rem;
    }
    /*footer*/
    footer {
        margin:0;
        padding-top:0;
        border-top:none;
        background-color:rgba(255,255,255,.4);
    }
    .watermark {
        bottom:.4em;
        color:#FFF;
        opacity:.6;
        text-shadow:-5px -2px 1px #000;
    }
}