/*common*/
html {
    font-size: 16px;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
    max-width: 1920px;
    padding: 0;
    margin: 0 auto;
    border: none;
    outline: 0;
    font-family: "Segoe UI","微软雅黑","Microsoft YaHei","DroidSansFallback","华文细黑",HelveticaNeue-Medium,Arial;
    cursor: default;
    zoom: 1;
    -webkit-tap-highlight-color: transparent; /*iPhone去除点击时的阴影*/
}

a {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    font-family: inherit;
    text-decoration: none;
}

    a:link,
    a:visited {
        color: inherit;
    }

.title, dt {
    font-family: "Segoe UI","Microsoft YaHei Light","微软雅黑 Light","黑体","Segoe WP SemiLight","DroidSansFallback","华文细黑",HelveticaNeue-Thin;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-select {
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent; /*iPhone去除点击时的阴影*/
    -webkit-appearance: none; /*input,textarea预设外观*/
    user-select: none;
}
.error {
    font-size: .8em;
    font-family: inherit;
    color: #ff0000;
    vertical-align: top;
    padding-left: .5em;
}
.btn {
    background-color: transparent;
    border-radius: .2em;
    outline: 0;
    cursor: pointer;
    opacity: .6;
    font-family:inherit;
    white-space:nowrap;
}
    .btn:hover,
    .btn:active {
        opacity:1;
    }
    .btn[disabled] {
        color: #CCC;
        opacity:1;
    }
/*bg*/
.bg-div {
    display: none;
}
/*header*/
.header {
    position: fixed;
    display: none;
    max-width: 100%;
    width: 100%;
    top: 0;
    background: #3EC1FF;
    border-bottom: 1px solid rgba(255,255,255,.5);
    z-index:1000;
}

.header-titles {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

    .header-titles > li {
        display: none;
        margin: 0;
        padding: .5em .5em 0;
        border: none;
        line-height: 1.5em;
        font-size: 2rem;
        font-weight: 300;
        color: #FFF;
        outline: 0;
        text-overflow: clip;
    }

    .header-titles > .func-btns {
        display: block;
        float: right;
    }

    .header-titles > .main-title {
        display: inline-block;
        font-size: 1.8rem;
        max-width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .header-titles > .hide-title {
        width: 0;
    }
/*content start*/
/*aside*/
#content {
    margin-top: 3.5rem;
    max-width: 100%;
    overflow-x: hidden;
}

.aside {
    display: none;
    max-width: 100%;
    background-color: #3EC1FF;
    color: #FFF;
    transition: height linear .2s;
}

    .aside.aside-show {
        display: block;
    }

.aside-menu {
    margin: 0;
    padding: .5em 1.5em;
    list-style: none;
    font-size: 1rem;
}

    .aside-menu > li {
        padding: 1em 0;
    }

        .aside-menu > li + li {
            border-top: 1px dotted rgba(255,255,255,.5);
        }

.btn-add {
    display: block;
    margin-top: -.2em;
    height: 1.5em;
    width: 1.6em;
    background-color: transparent;
    border: 0.1em dashed #FFF;
    border-radius: .2em;
    outline: 0;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1em;
    color: #FFF;
    cursor: pointer;
    opacity: .6;
}

    .btn-add:hover,
    .btn-add:active {
        opacity: 1;
    }

.writer-info {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

    .writer-info > dt {
        font-size: 1.15em;
    }

    .writer-info > dd {
        margin: 0;
        line-height: 1.5em;
        font-size: .85em;
        text-indent: 2em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.info-name {
    display: none;
}

.article {
    display: block;
    max-width: 100%;
    transition: display linear .2s;
}

    .article.aside-show {
        display: none;
    }

#defaultPage {
    display:block;
}
#addPage,
#dialogPage {
    display:none;
}

   #defaultPage.addPage-show,
    #dialogPage.addPage-show {
        display:none;
    }

    #addPage.addPage-show {
        display: block;
    }

    #defaultPage.dialogPage-show,
    #addPage.dialogPage-show {
        display: none;
    }

    #dialogPage.dialogPage-show {
        display: block;
    }
/*defaultPage*/
.default-page-title {
    padding: .3em 0;
    margin: 0;
    font-size: 5rem;
    text-align: center;
}

.default-page-sub-title {
    margin: 0;
    padding: .3em;
    line-height: 1em;
    text-align: center;
    font-size: 1rem;
}
/*addPage*/

.writer-info-input-title {
    padding: .5em 1em;
    margin:0;
    font-weight: normal;
    font-size: 1.3rem;
    white-space:nowrap;
    overflow:hidden;
}
.writer-info-input-list {
    margin: 0;
    padding: .5em 1.5em;
    list-style: none;
    font-size: 1rem;
}
.writer-info-input-label {
    padding:.25em .5em;
}
.writer-info-inputer {
    display: block;
    min-width: 100%;
    width: 8rem;
    max-width: 100%;
    background-color: transparent;
    overflow: hidden;
    margin:.25em 0;
    padding: .25em 1.5em;
    font-family: inherit;
    font-size: .85rem;
    border: none;
    outline: 0;
}
.writer-info-input-hr {
    font-size: 1rem;
    margin: .8em;
    outline: 0;
    border: 1px dashed rgba(255,255,255,.5);
}
.writer-info-input-btn-group {
    font-size: 1rem;
    padding: 1em 2em 0;
    text-align: right;
}
.writer-info-input-btn {
    padding: .25em 1em;
    border: 1px solid;
    font-size: 1rem;
    color: #3EC1FF;
}
/*content end*/
footer {
    display: none;
}
/*default screen min-width=320px*/

/*screen min-width=480px for brandth phones*/
@media screen and (min-width:480px) {
    /*common*/
    html, body {
        font-size: 13px;
    }
    /*header*/
    .header-titles > .main-title {
        font-size: 2rem;
    }

    .btn-add {
        height: auto;
        width: auto;
        padding: .25em .4em;
        margin-top: .18em;
        border-width: .12em;
        border-radius: 10%;
        font-weight: 400;
        font-size: 1.2rem;
    }
    /*content*/
    #content {
        margin-top: 4rem;
    }

    .default-page-title {
        padding: .2em 0;
        font-size: 3rem;
    }

    .default-page-sub-title {
        font-size: 1.1rem;
    }

    .writer-info {
        font-size: .9rem;
    }

    .info-name {
        display: inline;
    }
    /*footer*/
    footer {
        display: block;
        min-width: 100px;
        margin: 1em 0;
        padding-top: 1em;
        border-top: 1px dotted #EEE;
        font-size: 1rem;
        text-align: left;
        background-color: transparent;
    }

    .footer-list {
        margin: 0;
        padding: 0;
    }

        .footer-list > li {
            display: inline-block;
            margin: .25em 0;
            padding: 0 1em;
        }

            .footer-list > li + li {
                border-left: 1px solid #000;
            }

    .watermark {
        display:none;
        position: fixed;
        bottom: .5em;
        right: 0;
        z-index: -1;
        padding: 0 0 0 .5em;
        margin: 0;
        opacity: .1;
        font-size: 6rem;
        text-align: right;
        white-space: nowrap;
    }
}
/*screen min-width=640px for pads*/
@media screen and (min-width:640px) {
    /*common*/
    html, body {
        font-size: 18px;
    }

    .btn-add {
        font-size: 1.2rem;
        margin-top: .3em;
    }
}
/*screen min-width=800px for PCs*/
@media screen and (min-width:800px) {
    /*common*/
    html {
        font-size: 16px;
        -ms-touch-action: none;
    }
    /*bg*/
    .bg-div {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -2;
        background-position: top center;
        background-repeat: repeat;
        background-size: cover;
        background-size: auto 100%;
        height: 100%;
        width: 100%;
        max-height: 100%;
        max-width: 100%;
        overflow: hidden;
        -webkit-filter: blur(3px); /* Chrome, Opera */
        -moz-filter: blur(3px);
        -ms-filter: 'alpha(opacity=50)';
        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=false);
      /* filter:url('blur.svg');*/ 
        filter: blur(3px);
    /*    background-image:url('blur.svg');*/
        text-align:center;
        transition:-ms-filter linear .5s;
        -webkit-transition:-webkit-filter linear .5s;
        -moz-transition:-moz-filter linear .5s;
    }

        .bg-div.deeper {
            -webkit-filter: blur(10px); /* Chrome, Opera */
            -moz-filter: blur(10px);
            -ms-filter: 'alpha(opacity=30)';
            filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false);
            filter: blur(10px);
        }
    .opacity.deeper {
            opacity:.3;
    }
    /*header*/
    .header {
        border-bottom: none;
        position: static;
    }

    .header-titles > li {
        display: inline-block;
        padding-top: .4em;
        font-size: 1.6rem;
        vertical-align: middle;
    }

    .header-titles > .main-title {
        font-size: 1.4rem;
    }

    .btn-add {
        font-size: 1rem;
        margin-top: .1em;
    }
    /*content*/
    #content {
        margin-top: 0;
        overflow: hidden;
        background-color: rgba(255,255,255,.4);
        font-size: 0;
        max-height: 100%;
    }

    .aside,
    .article {
        display: inline-block;
        height: 100%;
        max-height: 100%;
        overflow: auto;
        overflow-x: hidden;
        -ms-touch-action: pan-y;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

        .aside.aside-show,
        .article.aside-show {
            display: inline-block;
        }

    .aside {
        vertical-align: top;
        max-width: 250px;
        text-shadow: 0 0 4px #BABABA;
    }

    .aside-menu {
        padding: .5em;
    }

    .writer-info {
        font-size: 1rem;
    }
    .article {
        text-shadow: 0 0 1px #BABABA;
    }
    #defaultPage {
        width: 100%;
        min-height: 100%;
        color: rgba(0,0,0,.7);

    }

    .default-page-title {
        padding: .8em 0;
        font-size: 5rem;
    }

    .default-page-sub-title {
        line-height: 1.25em;
        font-size: 1.6rem;
    }
    /*footer*/
    footer {
        margin: 0;
        padding-top: 0;
        border-top: none;
        background-color: rgba(255,255,255,.4);
        -ms-touch-action: none;
    }

    .watermark {
        display:block;
        bottom: .4em;
        color: #FFF;
        opacity: .6;
        text-shadow: -5px -2px 1px #000;
    }

    /*fiter
    .header,
    .aside {
        -webkit-filter: opacity(50%);
        -ms-filter: 'alpha(opacity=100)';
        filter: opacity(50%);
    }*/

}
